<div>
    <div class="modal-header">
        <h3 class="modal-title inline">Add Item</h3>
        <div class="inline save_panel">
            <span>Total items: {{items.length}}</span>
            <button class="btn" ng-click="saveAndClose()">Save</button>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="addItemForm" db-enter-submit="addNewItem()">
            <div class="alert alert-warning" role="alert" ng-show="addItemForm.name.$dirty && addItemForm.name.$error.required">
                <span>Please, enter name</span>
            </div>

            <div class="alert alert-warning" role="alert" ng-show="addItemForm.countName.$dirty && addItemForm.countName.$error.required">
                <span>Please, enter count name</span>
            </div>

            <div class="alert alert-warning" role="alert" ng-show="addItemForm.count.$dirty && addItemForm.count.$error.required">
                <span>Please, enter valid count. Count must be a number</span>
            </div>

            <div class="alert alert-warning" role="alert" ng-show="addItemForm.price.$dirty && addItemForm.price.$error.required">
                <span>Please, enter valid price. Price must be a number</span>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="creatingListItem.name" id="name"
                           placeholder="Name" class="form-control" db-default-focus="{isInputFocused}"
                           typeahead="itemName.name for itemName in itemNames | filter:$viewValue | limitTo:20"
                           typeahead-on-select="onItemSelected($item)">
                </div>
            </div>
            <div class="form-group">
                <label for="count" class="col-sm-2 control-label">Count</label>
                <div class="col-sm-10">
                    <input ng-model='creatingListItem.count' type="number" name="count" required
                           class="form-control count" id="count" placeholder="count">
                    <input ng-model='creatingListItem.countName' name="countName" required
                           class="form-control count_name" id="type" placeholder="name">
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                    <input ng-model='creatingListItem.price' type="number" name="price" required
                           class="form-control" id="price" placeholder="prices">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-disabled="addItemForm.$invalid" ng-click="addNewItem()">Add Next</button>
        <button class="btn" ng-click="close()">Close Without Saving</button>
    </div>
</div>