.creating_buy_list {
    border-collapse: collapse;
    width: 100%;
    min-width: 300px;
}

.creating_buy_list td {
    padding: 2px;
}

.new_buy_list_item td {
    padding: 5px 10px;
}

.small_width {
    width: 40px;
}

.title {
    font-weight: bolder;
    padding-top: 10px;
    display: block;
}

.button_column {
    width: 40px;
}

tr.header th span {
    cursor: pointer;
}

input.filter {
    width: 150px !important;
    height: 24px !important;
    display: inline-block !important;
    font-weight: normal !important;
    margin-left: 10px;
}

.alert {
    padding: 5px;
}

.count {
    display: inline-block !important;
    width: 80% !important;
}

.count_name {
    display: inline-block !important;
    width: 18% !important;
}

.add_new_item_window .modal-content{
    width: 450px !important;
}

.inline {
    display: inline-block;
}

.save_panel {
    float: right;
}

.save_panel span {
    margin: 0 10px;
}