<div class='row'>
    <div class='col-xs-6'>
        <button class='btn btn-default' ng-click='open()'>
            <span class="glyphicon glyphicon-plus" db-localize="common.add"></span>
        </button>
        <button class='btn btn-default' ng-click='saveBuyList()' ng-disabled='!currentListItems.length'>
            <span class="glyphicon glyphicon-check" db-localize="common.complete">Complete</span>
        </button>

        <table class='table'>
            <tbody>
                <tr class="header">
                    <th class='button_column'></th>
                    <th>
                        <span ng-click="changeOrder( 'name' )" db-localize="common.name"></span>
                    </th>
                    <th style='width:30px'>
                        <span ng-click="changeOrder( 'count' )" db-localize="common.count"></span>
                    </th>
                    <th style='width:30px'></th>
                    <th style='width:50px'>
                        <span ng-click="changeOrder( 'price' )" db-localize="common.price"></span>
                    </th>
                    <th style='width:100px'>
                        <span ng-click="changeOrder( 'comment' )" db-localize="common.comment"></span>
                    </th>
                </tr>
                <tr ng-repeat='currentListItem in currentListItems | orderBy:order:reverse'>
                    <td>
                        <button ng-click="deleteListItem( currentListItem )" class='btn btn-default btn-xs'>
                            <span class='glyphicon glyphicon-minus'></span>
                        </button>
                    </td>
                    <td><span>{{ currentListItem.name }}</span></td>
                    <td><span style='float: right'>{{ currentListItem.count }}</span></td>
                    <td><span>{{ currentListItem.countName }}</span></td>
                    <td><span>{{ currentListItem.price | currency }}</span></td>
                    <td><span>{{ currentListItem.comment }}</span></td>
                </tr>
                <tr>
                    <td colspan='4'><span style='float: right; padding: 0px 15px;' db-localize="common.total"></span></td>
                    <td>{{ getTotalPrice() | currency }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='col-xs-6'>
        <span class='title' db-localize="buylist.prev"></span>
        <table class="table">
            <tbody>
                <tr>
                    <th class='button_column'></th>
                    <th class='button_column'></th>
                    <th db-localize="common.date"></th>
                    <th db-localize="common.price"></th>
                    <th db-localize="common.count"></th>
                </tr>
                <tr ng-repeat='prevBuyList in prevBuyLists'>
                    <td>
                        <button ng-click="deleteBuyList( prevBuyList )" class='btn btn-default btn-xs'>
                            <span class='glyphicon glyphicon-minus'></span>
                        </button>
                    </td>
                    <td>
                        <button ng-click="getBuyListById( prevBuyList.id )" class='btn btn-default btn-xs'>
                            <span class='glyphicon glyphicon-eye-open'></span>
                        </button>
                    </td>
                    <td><span>{{ prevBuyList.date | date: 'dd.MM.yyyy hh:mm' }}</span></td>
                    <td><span>{{ prevBuyList.totalPrice | currency }}</span></td>
                    <td><span>{{ prevBuyList.totalCount }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>