<div class='row'>
    <div class='col-xs-5'>
        <form class="form-horizontal" role="form" name="addItemForm" novalidate>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10" ng-class="{ 'has-error': hasRequiredError( 'name' ) }">
                    <input ng-model='item.name' class="form-control"
                           name="name" id="name" placeholder="Name"
                           required>
                    <div class="form_tooltip">
                        <span ng-show="hasRequiredError( 'name' )">Please, enter name</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="countName" class="col-sm-2 control-label">Count name</label>
                <div class="col-sm-10" ng-class="{ 'has-error': hasRequiredError( 'countName' ) }">
                    <input ng-model='item.countName' class="form-control"
                           name="countName" id="countName" placeholder="Count Name"
                           required>
                    <div class="form_tooltip">
                        <span ng-show="hasRequiredError( 'countName' )">Please, enter correct count name</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10" ng-class="{ 'has-error': hasRequiredError( 'price' ) }">
                    <input ng-model='item.price' class="form-control"
                           name="price" id="price" placeholder="Price"
                           required type="number">
                    <div class="form_tooltip">
                        <span ng-show="hasRequiredError( 'price' )">Please, enter correct price</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="comment" class="col-sm-2 control-label">Comment</label>
                <div class="col-sm-10">
                    <input ng-model='item.comment' class="form-control"
                           name="comment" id="comment" placeholder="Comment"
                           required>
                </div>
            </div>
            <button class='btn btn-default' ng-click='addNewItem()' ng-disabled="addItemForm.$invalid">
                <span class="glyphicon glyphicon-plus">{{addLabel}}</span>
            </button>
        </form>
    </div>
    <div class='col-xs-7'>
        <table class='table'>
            <tbody>
                <tr class="header">
                    <th class='button_column'></th>
                    <th class='button_column'></th>
                    <th>
                        <span ng-click="changeOrder('name')">Name</span>
                        <input ng-model="filter" class="form-control filter" type="text" placeholder="filter"/>
                    </th>
                    <th><span ng-click="changeOrder('countName')">Count Name</span></th>
                    <th style='width:50px'><span ng-click="changeOrder('price')">Price</span>
                    <th><span ng-click="changeOrder('comment')">Comment</span></th>
                </tr>
                <tr ng-repeat='item in listItems | orderBy:order:reverse | filter:filter'>
                    <td>
                        <button ng-click="deleteItem( item )" class='btn btn-default btn-xs'>
                            <span class='glyphicon glyphicon-minus'></span>
                        </button>
                    </td>
                    <td>
                        <button ng-click="editItem( item )" class='btn btn-default btn-xs'>
                            <span class='glyphicon glyphicon-pencil'></span>
                        </button>
                    </td>
                    <td><span>{{ item.name }}</span></td>
                    <td><span>{{ item.countName }}</span></td>
                    <td><span>{{ item.price | currency }}</span></td>
                    <td><span>{{ item.comment }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>