<!DOCTYPE html>
<html ng-app="daybook">
<head>
    <title>Angular example</title>
    <!--angular modules-->
    <script src='lib/angular/angular.js'></script>
    <script src='lib/angular-resource/angular-resource.js'></script>
    <script src='lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>

    <!--angular ui -->
    <script src='lib/angular-ui-router/angular-ui-router.js'></script>

    <!-- quint -->
    <script src='lib/qunit/qunit.js'></script>

    <!-- sha1 -->
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-css-only/css/bootstrap.css">

    <!-- daybook source -->
    <script src='app/app.js'></script>

    <!-- services -->
    <script src='app/services/CalendarService.js'></script>
    <script src='app/services/BuyListService.js'></script>
    <script src='app/services/UserService.js'></script>
    <script src='app/services/AuthSessionService.js'></script>

    <!-- controllers -->
    <script src='app/controller/CalendarController.js'></script>
    <script src='app/controller/MainPageController.js'></script>
    <script src='app/controller/BuyListController.js'></script>
    <script src='app/controller/ItemsController.js'></script>
    <script src='app/controller/ModalController.js'></script>

    <!-- directives -->
    <script src='app/directives/common.directives.js'></script>

    <link rel="stylesheet" type="text/css" href="css/calendar.css">
    <link rel="stylesheet" type="text/css" href="css/buylist.css">
</head>
<body ng-controller="MainPageController">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <!--<li><a href='#/calendar'>Calendar</a></li>-->
                <li><a ui-sref='buylist'>BuyList</a></li>
                <li><a ui-sref='items'>Items</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input ng-model="credentials.login" type="text" class="form-control" placeholder="Login">
                    <input ng-model="credentials.password" type="password" class="form-control" placeholder="Password">
                </div>
                <button class="btn btn-default"
                        ng-disabled="!( credentials.login && credentials.password )"
                        ng-click="logIn()">Log in</button>
                <button class="btn btn-default" ng-click="signIn()">Sign in</button>
            </form>
        </div>
    </div>
    <div class="container-fluid" ui-view></div>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <p class="navbar-text">M&M Inc. All rights reserved.</p>
        </div>
    </nav>
</body>
</html>